.DS_Store
.eprj
.sass-cache
.idea
.dat*.*
.env
.redcar
#*#
*~

cook_categorization/target_images
cook_categorization/images
cook_categorization/models
cook_categorization/train_lmd
cook_categorization/test_lmd
